*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "gilroy";
  src: url(./fonts/gilroy-thin.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "gilroy";
  src: url(./fonts/gilroy-light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "gilroy";
  src: url(./fonts/gilroy-regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "gilroy";
  src: url(./fonts/gilroy-medium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "gilroy";
  src: url(./fonts/gilroy-semibold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "gilroy";
  src: url(./fonts/gilroy-bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "gilroy";
  src: url(./fonts/gilroy-extrabold.ttf);
  font-style: normal;
  font-weight: 900;
}

body {
  font-family: "gilroy";
  font-weight: 400;
}

/* -------- Navbar -------- */
.navbar {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 30px 10px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 154px;
  height: 28px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar__list {
  display: flex;
  padding: 0;
  list-style: none;
  gap: 40px;
  font-family: "gilroy";
  font-weight: 600;
  font-size: 14px;
  color: #161C2D;
} 

.navbar__button {
  border: none;
  background: #473BF0;
  color: rgba(255, 255, 255, 0.9);
  padding: 15px 20px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 8px;
  transition: all 300ms ease;
  cursor: pointer;
}

.navbar__button:hover {
  filter: brightness(150%);
}

.menu-icon {
  display: none;
}

.icon-fill {
  color: #161C2D !important;
}

/* -------- Hero -------- */
.header {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.header__top h1 {
  width: 500px;
  margin: 30px auto;
  font-size: 36px;
}

.header__top p {
  width: 600px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 30px;
}

.header__top h1,
.header__top p {
  color: #161C2D;
}

.hero__buttons {
  display: flex;
  margin: 30px auto;
  align-items: center;
  justify-content: center;
}

.hero__button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  background: #473BF0;
  color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 8px;
  transition: all 300ms ease;
  cursor: pointer;
}

.hero__button:hover {
  filter: brightness(150%);
}

.ghost__button {
  border: none;
  display: flex;
  width: 230px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  text-align: center;
  background: transparent;
  color: #161C2D;
  padding: 20px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 8px;
  transition: all 300ms ease;
  cursor: pointer;
}

.ghost__button:hover {
  background: rgba(22,28,45, 0.2);
}

.header__bottom {
  width: 844px;
  height: 559px;
  margin: 0 auto;
}

.header__bottom img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .navbar__list,
  .navbar__button {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .navbar {
    padding: 15px 10px;
  }

  .header__top h1 {
    width: 400px;
    margin: 30px auto;
    font-size: 24px;
  }

  .header__top p {
    width: 450px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 30px;
  }

  .header__bottom {
    width: 422px;
    height: 279.5px;
    margin: 0 auto;
  }
  
  .header__bottom img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 425px) {
  .header__top p {
    width: 400px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 30px;
  }

  .hero__buttons {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
  }

  .ghost__button {
    margin-top: 10px;
  }
}